*.egg-info
*.log
*.mo
*.py?
*.swp
.coverage
.coverage.*
.env
.installed.cfg
.mr.developer.cfg
bin/
buildout-cache/
coverage.xml
develop-eggs/
dist/*
eggs/
htmlcov/
include/
lib/
lib64
local.cfg
local/
log.html
output.xml
parts/
pip-selfcheck.json
pyvenv.cfg
report.html
reports/
src/ftw.upgrade/
src/guess-language/
share/
var/
venv/
node_modules/
downloads/
.python-version
