# Buildout for GH Actions
[buildout]
extends =
    https://dist.plone.org/release/6.2-latest/versions.cfg
    https://dist.plone.org/release/6.2-latest/versions-extra.cfg
    https://dist.plone.org/release/6.2-latest/versions-ecosystem.cfg
find-links +=
    https://pypi.syslab.com/packages/
parts =
    test
    createcoverage
    solr

show-picked-versions = true
allow-picked-versions = true
download-cache = downloads
develop = .
extensions = mr.developer
auto-checkout =

[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress', '-s', 'recensio.plone']
eggs =
    Products.CMFPlone
    Pillow
    recensio.plone [test]

[createcoverage]
recipe = zc.recipe.egg
eggs = createcoverage

[solr]
recipe = kitconcept.recipe.solr
src = https://dlcdn.apache.org/solr/solr/9.10.1/solr-9.10.1.tgz
port = 8984
solr-config = etc/solr


[sources]
collective.solr   = git https://github.com/collective/collective.solr.git

[versions]
argcomplete = 3.6.2
collective.ftw.upgrade = 4.0.0
collective.solr = 10.1.1
collective.vdexvocabulary = 0.3
collective.z3cform.datagridfield = 3.0.4
createcoverage = 1.5
ftw.upgrade = 3.4.0a3+slc0
guess-language = 1.0.1+slc0
hexagonit.recipe.download = 1.7.1
imsvdex = 1.2
inflection = 0.5.1
kitconcept.recipe.solr = 1.0.0a5
path = 17.1.1
path.py = 12.5.0
pypdf = 6.0.0
reportlab = 4.4.3
tarjan = 0.2.4
xlrd = 2.0.2
