graft src/recensio
graft docs
graft etc/solr
include *.md
include *.rst
include *.txt
exclude *.cfg
exclude *.js
exclude .*
exclude Makefile
exclude package.json
exclude yarn.lock
prune .github
prune resources
global-exclude *.pyc
global-exclude .DS_Store
