:root {
    --bs-primary: #e8e1d0;
    --bs-link-color: #7f4b2b;
    --plone-toolbar-text-color: var(--bs-dark);
    --plone-link-color: #7f4b2b;
}

.navbar-barceloneta {
    --bs-navbar-background: #e8e1d0;
    --bs-navbar-color: #7f4b2b;
}

.btn-outline-light {
    --bs-btn-color: #7f4b2b;
}

#edit-zone .dropdown-item,
#edit-zone .nav-link {
    color: var(--bs-white);
}

#portal-footer-wrapper {
    background-color: #f4f1ea;
    color: #58595b;
    text-align: center;
    padding: 1rem;
}

.pat-structure table.dataTable tr td.actionmenu-container .btn,
.pat-structure .itemRow.folder .title a {
    color: var(--bs-link-color);
}

#edit-zone .dropdown-header {
    background: var(--bs-primary);
}

#edit-zone .dropdown-item:focus,
#edit-zone .dropdown-item:hover,
#edit-zone .nav-link:focus,
#edit-zone .nav-link:hover {
    background: var(--bs-primary);
    color: var(--plone-toolbar-text-color);
}

img.gnd {
    width: 1.5em;
}

.preview-images {
    width: 20em;
    float: right;
    margin: 0 0 1em 1em;
    box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.2);
}


#browsing-menu {
    width: 20em;
    float: left;
    padding-right: 2em;
}

#browsing-menu svg.togglebutton {
    display: none;
}

.menu_headline {
    font-size: large;
    font-weight: bold;
    margin-bottom: 0.5em;
}
